#Ans no1

In [249]:
import seaborn as sns
df=sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [253]:
from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestClassifier
import pandas as pd

# Load your dataset

X = df.iloc[:, :-1]  # Features
y = df.iloc[:, -1]  # Target variable

# Create the estimator (Random Forest Classifier)
estimator = RandomForestClassifier()

# Create the RFE object with the desired number of features to select
n_features_to_select = 5  # Select top 5 features
rfe = RFE(estimator=estimator, n_features_to_select=n_features_to_select)


# Perform feature selection
X_selected = rfe.fit_transform(X, y)
selected_feature_indices = rfe.get_support(indices=True)
selected_features = X.columns[selected_feature_indices]

# Print the selected features
print("Selected Features:")
print(selected_features)

Selected Features:
Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width'], dtype='object')

In [184]:
## independent and dependent feature
X=df.drop(labels=['time'],axis=1)
y=df.time

In [185]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=42)

In [186]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer ## HAndle Missing Values
from sklearn.preprocessing import StandardScaler ## Feature Scaling
from sklearn.preprocessing import OneHotEncoder ## categorical to numerical
from sklearn.compose import ColumnTransformer

In [187]:
categorical_cols = ['sex', 'smoker','day']
numerical_cols = ['total_bill', 'tip','size']

In [188]:
## Numerical Pipelines
num_pipeline=Pipeline(
    steps=[
        ('imputer',SimpleImputer(strategy='mean')), ##Missing Values
        ('scaler',StandardScaler()) ## feature Scaling
    ]

)

In [189]:
#categorical Pipeline
cat_pipeline=Pipeline(
                steps=[
                ('imputer',SimpleImputer(strategy='most_frequent')), ## handling Missing values
                ('onehotencoder',OneHotEncoder()) ## Categorical features to numerical
                ]

            )

In [190]:
preprocessor=ColumnTransformer([
    ('num_pipeline',num_pipeline,numerical_cols),
    ('cat_pipeline',cat_pipeline,categorical_cols)

])

In [191]:
X_train=preprocessor.fit_transform(X_train)
X_test=preprocessor.transform(X_test)

In [192]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
models={'RandomForest':RandomForestClassifier()}
def evaluate_model (X_train,X_test,y_train,y_test,models):
  report = {}
  for i in range (len(models)):
    model = list(models.values())[i]
    model.fit(X_train,y_train)
    y_pred=model.predict(X_test)
    score=accuracy_score(y_pred,y_test)
    report[list(models.keys())[i]] =  score

  return report   

evaluate_model(X_train,X_test,y_train,y_test,models)

{'RandomForest': 0.9591836734693877}

#Ans no2

In [252]:
import seaborn as sns
df=sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [234]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [235]:
## independent and dependent feature
X=df.drop(labels=['species'],axis=1)
y=df.species

In [236]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=42)

In [237]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer ## HAndle Missing Values
from sklearn.preprocessing import StandardScaler ## Feature Scaling
from sklearn.preprocessing import OneHotEncoder ## categorical to numerical
from sklearn.compose import ColumnTransformer

In [238]:
numerical_cols = ['sepal_length', 'sepal_width','petal_length','petal_width']
categorical_cols = ['species']

In [239]:
 
# Numerical Pipelines
num_pipeline=Pipeline(
    steps=[
        ('imputer',SimpleImputer(strategy='mean')), ##Missing Values
        ('scaler',StandardScaler()) ## feature Scaling
    ]

)

In [240]:
X_train

     sepal_length  sepal_width  petal_length  petal_width
22            4.6          3.6           1.0          0.2
15            5.7          4.4           1.5          0.4
65            6.7          3.1           4.4          1.4
11            4.8          3.4           1.6          0.2
42            4.4          3.2           1.3          0.2
..            ...          ...           ...          ...
71            6.1          2.8           4.0          1.3
106           4.9          2.5           4.5          1.7
14            5.8          4.0           1.2          0.2
92            5.8          2.6           4.0          1.2
102           7.1          3.0           5.9          2.1

[120 rows x 4 columns]

In [241]:
preprocessor=ColumnTransformer([
    ('num_pipeline',num_pipeline,numerical_cols),
    # ('cat_pipeline',cat_pipeline,categorical_cols)

])

In [242]:
X_train=preprocessor.fit_transform(X_train)
X_test=preprocessor.transform(X_test)

In [243]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
models={'RandomForest':RandomForestClassifier(),
        'Logistic':LogisticRegression()}
def evaluate_model (X_train,X_test,y_train,y_test,models):
  report = {}
  for i in range (len(models)):
    model = list(models.values())[i]
    model.fit(X_train,y_train)
    y_pred=model.predict(X_test)
    score=accuracy_score(y_pred,y_test)
    report[list(models.keys())[i]] =  score

  return report   

evaluate_model(X_train,X_test,y_train,y_test,models)

{'RandomForest': 1.0, 'Logistic': 1.0}