In [1]:
import logging 
import pandas as pd
logging.basicConfig(filename = "23_feb.log",level=logging.INFO)

# Ans no1
logging.info("here is writing the ans 1")

l=[4,8,15,16,23,45]

pd_series = pd.Series(l)

print(pd_series)

0     4
1     8
2    15
3    16
4    23
5    45
dtype: int64

In [13]:
# Ans no2

logging.info("here is writing the ans 2 creating pandas series")
l=[]
for i in range(10,20):
    l.append(i)
    
pd_series = pd.Series(l)

print(pd_series)

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64

In [48]:
logging.info("here is writing the ans 3 creating pandas dataframe")

# Ans no3

data={"Name":['Alice','Bob','Claire'],"Age":[25,30,27],"Gender":['Female','Male','Female']}

pd_dataframe = pd.DataFrame(data)

print(pd_dataframe)
# pd_dataframe.columns

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [50]:
# Ans no4
logging.info("here is writing the ans 4 differerce between pandas dataframe and Series")


'''
In Pandas, a DataFrame is a two-dimensional labeled data structure that consists of rows and columns,
similar to a table in a relational database or a spreadsheet.
It can store multiple types of data, including numerical, categorical, and textual data. 
Each column in a DataFrame can be of a different data type.

Series is a one-dimensional labeled list that can hold any data type, including numerical, categorical, and textual data. 
It can be thought of as a single column of data from a DataFrame.

Here's an example to illustrate the difference between a DataFrame and a Series:
'''
# dataframe:
data={"Name":['Alice','Bob','Claire'],"Age":[25,30,27],"Gender":['Female','Male','Female']}

pd_dataframe = pd.DataFrame(data)


print(pd_series)
print("  ")
#Series

l=[4,8,15,16,23,45]

pd_series = pd.Series(l)

print(pd_dataframe)

0     4
1     8
2    15
3    16
4    23
5    45
dtype: int64

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [7]:
logging.info("here is writing the ans 5 ,some common functions that can be used to manipulate data in a Pandas with example")

# Ans no5
'''
df.head(n) - Returns the first n rows of the DataFrame.
df.tail(n) - Returns the last n rows of the DataFrame.
df.shape - Returns the number of rows and columns in the DataFrame.
df.columns - Returns the column names of the DataFrame.
df.dtypes - Returns the data types of the columns in the DataFrame.
df.describe() - Returns summary statistics of the DataFrame.
df.drop(columns=['column_name']) - Drops a specified column from the DataFrame.
df.rename(columns={'old_name': 'new_name'}) - Renames a specified column in the DataFrame.
df.groupby('column_name').function() - Groups the DataFrame by a specified column and applies a function to each group.
df.apply(function) - Applies a specified function to each element of the DataFrame.
df.merge(other_df) - Merges the DataFrame with another DataFrame based on a specified column.
df.sort_values('column_name') - Sorts the DataFrame by a specified column.
df.fillna(value) - Fills missing values in the DataFrame with a specified value.
'''
# examples
data={"Name":['Alice','Bob','Claire'],"Age":[25,30,27],"Gender":['Female','Male','Female']}

df = pd.DataFrame(data)

df.head(2)
df.tail(2)

df.rename(columns={'Name':'New Name'})
df.sort_values('Age')

     Name  Age  Gender
0   Alice   25  Female
2  Claire   27  Female
1     Bob   30    Male

In [8]:
# Ans no6
logging.info("telling about mutability of panal,dataframe")
'''
In pandas, Series and DataFrame are mutable in nature, meaning that their values can be changed after they have been created. 
On the other hand, Panel is a three-dimensional data structure that has been deprecated since version 0.25.0 of pandas 
and is no longer recommended to use.
'''

'\nIn pandas, Series and DataFrame are mutable in nature, meaning that their values can be changed after they have been created. \nOn the other hand, Panel is a three-dimensional data structure that has been deprecated since version 0.25.0 of pandas \nand is no longer recommended to use.\n'

In [53]:
# Ans no7
logging.info("Creating a DataFrame using multiple Series")

Names=['Alice','Bob','Claire']
Ages=[25,30,27]
Genders=['Female','Male','Female']

nm=pd.Series(Names)
ag=pd.Series(Ages)
gnd=pd.Series(Genders)

data={"Name":nm,"Age":ag,"Gender":gnd}

pd_dframe=pd.DataFrame(data)

print(pd_dframe)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female