In [5]:
# Ans no1


import logging
logging.basicConfig(filename="16_feb.log", level=logging.INFO )

logging.info("here writing about SQL and NOSQL")

'''
A database is an organized collection of structured information, or data, 
typically stored electronically in a computer system.
A database is usually controlled by a database management system (DBMS).

SQL:
RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)
These databases have fixed or static or predefined schema
These databases are not suited for hierarchical data storage.
These databases are best suited for complex queries
Vertically Scalable
Follows ACID property
Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc

NOSQL:
Non-relational or distributed database system.
They have dynamic schema
These databases are best suited for hierarchical data storage
These databases are not so good for complex queries
Horizontally scalable
Follows CAP(consistency, availability, partition tolerance)
Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc
'''

'\nA database is an organized collection of structured information, or data, \ntypically stored electronically in a computer system.\nA database is usually controlled by a database management system (DBMS).\n\nSQL:\nRELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)\nThese databases have fixed or static or predefined schema\nThese databases are not suited for hierarchical data storage.\nThese databases are best suited for complex queries\nVertically Scalable\nFollows ACID property\nExamples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc\n\nNOSQL:\nNon-relational or distributed database system.\nThey have dynamic schema\nThese databases are best suited for hierarchical data storage\nThese databases are not so good for complex queries\nHorizontally scalable\nFollows CAP(consistency, availability, partition tolerance)\nExamples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc\n'

In [11]:
# Ans no2


logging.info("here we will know about DDL commands")
'''
Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). 
DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. 
These commands are used to create or modify the tables in SQL.
'''


'''
CREATE :
This command is used to create a new table in SQL.

CREATE TABLE table_name
(
column_1 int,
column_2 varchar,
column_3 float,

);
'''

'''
ALTER :
This command is used to add, delete or change columns in the existing table.
The user needs to know the existing table name and can do add, delete or modify tasks easily.

Syntax to add a column to an existing table.

ALTER TABLE table_name
ADD column_name datatype;

'''

'''
TRUNCATE :
This command is used to remove all rows from the table, but the structure of the table still exists.

Syntax –
Syntax to remove an existing table.

TRUNCATE TABLE table_name;
'''

'\nTRUNCATE :\nThis command is used to remove all rows from the table, but the structure of the table still exists.\n\nSyntax –\nSyntax to remove an existing table.\n\nTRUNCATE TABLE table_name;\n'

In [14]:
# Ans no3


logging.info("here is writing about DML commands")
'''
DML(Data Manipulation Language): 
The SQL commands that deals with the manipulation of data present in the database belong to DML 
or Data Manipulation Language and this includes most of the SQL statements.
It is the component of the SQL statement that controls access to data and to the database.
Basically, DCL statements are grouped with DML statements.
'''
'''
Insert Example
In the following example, we will insert 2 rows into the students table, one for each student:

INSERT INTO Students(SId, SName, DepartmentId, DOB)
              VALUES(11, 'Aasdfg', 4, '1997-10-12');

INSERT INTO Students VALUES(12, 'Aly', 4, '1996-10-12');
'''

'''
Update 
In the following UPDATE statement, we will update the DepartmentId for the Student with StudentId = 6 to be 3:

UPDATE Students
SET DepartmentId = 3 
WHERE StudentId = 6;

'''
'''
Delete
DELETE query is used to remove existing records from a specified table.
You can use the WHERE clause with DELETE queries to delete the selected rows.

Example
In the following statement, we will delete two students with StudentId 11 and 12:

DELETE FROM Students WHERE StudentId = 11 OR StudentId = 12;
'''

'\nDelete\nDELETE query is used to remove existing records from a specified table.\nYou can use the WHERE clause with DELETE queries to delete the selected rows.\n\nExample\nIn the following statement, we will delete two students with StudentId 11 and 12:\n\nDELETE FROM Students WHERE StudentId = 11 OR StudentId = 12;\n'

In [16]:
# Ans no4

logging.info("here is writing about DQL commands")
'''
The DQL statements can be used in order to query the data and information contained in schema objects.
The goal of the DQL Commands is to return a schema relation on the basis of the query supplied to them.
'''
'''
Example of select 
SELECT Stu_Name FROM Student WHERE Phone = 9039462908;
'''

'\nExample of select \nSELECT Stu_Name FROM Student WHERE Phone = 9039462908;\n'

In [17]:
# Ans no5


logging.info(" Primary Key and Foreign Key")
'''
Primary Key: A primary key is used to ensure that data in the specific column is unique.
A column cannot have NULL values.

Example: 
STUD_NO, as well as STUD_PHONE both, are candidate keys for relation STUDENT 
but STUD_NO can be chosen as the primary key (only one out of many candidate keys). 


Foreign Key: 
A foreign key is a column or group of columns in a relational database table
that provides a link between data in two tables. It is a column (or columns)
that references a column (most often the primary key) of another table. 

Example: Refer the figure – 
STUD_NO in STUDENT_COURSE is a foreign key to STUD_NO in STUDENT relation. 
'''

'\nPrimary Key: A primary key is used to ensure that data in the specific column is unique.\nA column cannot have NULL values.\n\nExample: \nSTUD_NO, as well as STUD_PHONE both, are candidate keys for relation STUDENT \nbut STUD_NO can be chosen as the primary key (only one out of many candidate keys). \n\n\nForeign Key: \nA foreign key is a column or group of columns in a relational database table\nthat provides a link between data in two tables. It is a column (or columns)\nthat references a column (most often the primary key) of another table. \n\nExample: Refer the figure – \nSTUD_NO in STUDENT_COURSE is a foreign key to STUD_NO in STUDENT relation. \n'

In [20]:
# Ans no6


'''
execute()
This method accepts a MySQL query as a parameter and executes the given query.

cursor()
Allows Python code to execute PostgreSQL command in a database session.
Cursors are created by the connection.cursor().

'''
import mysql.connector


mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

'\nexecute()\nThis method accepts a MySQL query as a parameter and executes the given query.\n\ncursor()\nAllows Python code to execute PostgreSQL command in a database session.\nCursors are created by the connection.cursor().\n\n# '

In [21]:

# Ans no7

logging.info(" the order of execution of SQL clauses in an SQL query")
'''
Query Process Steps
1. Getting Data (From, Join)
2. Row Filter (Where)
3. Grouping (Group by)
4. Group Filter (Having)
5. Return Expressions (Select)
6. Order & Paging (Order by & Limit / Offset)

'''

'''
SELECT city.city_name AS "City"
FROM citizen
JOIN city 
ON citizen.city_id = city.city_id 
WHERE city.city_name != 'San Bruno'
GROUP BY city.city_name
HAVING COUNT(*) >= 2
ORDER BY city.city_name ASC
LIMIT 2
'''

'\nSELECT city.city_name AS "City"\nFROM citizen\nJOIN city \nON citizen.city_id = city.city_id \nWHERE city.city_name != \'San Bruno\'\nGROUP BY city.city_name\nHAVING COUNT(*) >= 2\nORDER BY city.city_name ASC\nLIMIT 2\n'